streamlit>=1.30.0
pandas>=2.0.0
numpy>=1.22.0
plotly>=5.18.0
openpyxl>=3.1.2
matplotlib>=3.7.0
gspread
google-auth
xlsxwriter
python-dotenv
office365-rest-python-client
streamlit-js-eval
streamlit-aggrid
pygsheets
pytz
streamlit-folium
geopy
pycountry
msal==1.31.1
requests==2.32.3
